* {
    margin: 0;
    padding: 0;
}

.nav-menu {
    background-color: #343A40;
    display: flex;
    justify-content: flex-end;
    font-family: cursive;
}

.nav-menu .nav-links {
    text-decoration: none;
    padding: 20px;
    color: whitesmoke;
}

.nav-menu .nav-links:hover {
    background-color: orange;
    animation: ease-in-out;
    transition: 0.5s;
}

.navbar-brand {
    margin: 0 auto;
    margin-left: 10px;
    margin-top: 15px;
    color: tomato;
    font-size: 25px;
    text-decoration: none;
}

.navbar-brand:hover {
    cursor: pointer;
}

.heading-container {
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: sans-serif;   
}

.heading {
    padding: 20px;
    text-transform: uppercase;
}

.card, .card1, .card2{
    width: 300px;
    border: 1px solid black;
    box-shadow: 1px 2px 4px black;
    position: absolute;
    top: 150px;
    left: 50px;
    margin-top: 10px;
}

.img-style{
    width: 100%;
}

.card-title{
    font-size: 2rem;
    font-family: sans-serif;
    background-color: #363636;
    color: tomato;
}

.card-desc{
    padding: 5px;
    text-align: justify;
    color: whitesmoke;
    background-color: #363636;
    font-family: cursive;
}

.card:hover, .card1:hover, .card2:hover{
    box-shadow: 3px 4px 6px black;
    cursor: pointer;
}

.card1 {
    position: absolute;
    left: 550px;
}

.card2 {
    position: absolute;
    left: 1050px;
}

.yt-channel {
    text-decoration: none;
    color: yellow;
}

.simple {
    padding-bottom: 8px;
}

@media screen and (max-width: 1024px) {
    .card1 {
        position: absolute;
        top: 600px;
        left: 350px;
        margin-bottom: 20px;
    }

    .card2 {
        position: absolute;
        left: 600px;
    }

    .simple {
        padding-bottom: 15.5px;
    }
}

@media screen and (max-width: 800px) {
    .nav-menu {
        flex-direction: column;
        padding: 10px;
    }

    .navbar-brand {
        margin: 0 auto;
        text-align: center;
    }

    .nav-menu .nav-links{
        background-color: yellowgreen;
        margin: 10px 0;
        text-align: center;
        border-radius: 10px;
		color: black;
    }

    .card {
        position: absolute;
        top: 650px;
        left: 50px;
    }

    .card1 {
        position: absolute;
        top: 1050px;
        left: 50px;
    }

    .card2 {
        position: absolute;
        top: 1420px;
        left: 50px;
    }
}
